#hero {
  background-image:url(../../assets/img/banner.jpg);
  height: 500px;
  background-size: cover;
  background-position: 100%;
}

.contenido-hero {
  margin-top: 80px;
  color: white;
}
.contenido-hero form {
  position: relative;
  margin-bottom: 0;
}
.contenido-hero form #buscador {
  height: 50px;
  margin-bottom: 0;
}
.contenido-hero form .submit-buscador {
  position: absolute;
  right:0;
  top:0;
  height: 100%;
  padding: 0;
  display: block;
  text-indent: -9999px;
  width: 50px;
  background-image: url(../../assets/img/lupa.png);
  background-position: right center;
  background-repeat: no-repeat;
  border:none;
}
