<!--Botón de subir-->
<div class="divStickyB">
  <div class="botnav">
    <a href="#header" (click)=addNewWhis()>
      <fa-icon [icon]="faCirclePlus" [styles]="{'height': '102%', 'color': 'black'}"></fa-icon>
    </a>
  </div>
</div>
<footer class="footer bg-dark text-center">
<!-- Footer -->
  <div class="containter px-3">
    <div class="row">
      <div class="four columns" >
          <nav id="principal " class="menu">
              <a href="#">Para tu negocio</a>
              <a href="#">Conviertete en instructor</a>
              <a href="#">Aplicaciones móviles</a>
              <a href="#">Soporte</a>
              <a href="#">Temas</a>
          </nav>
      </div>
      <div class="four columns">
          <nav id="secundaria " class="menu">
              <a href="#">¿Quienes Somos?</a>
              <a href="#">Empleo</a>
              <a href="#">Blog</a>
          </nav>
      </div>
    </div>
  </div>
  <p class="text-white author">
    &copy; {{autor}}
  </p>
</footer>
