<nav class="navbar navbar-expand-lg bg-black" >
  <div class="container-fluid">
    <a class="navbar-brand img-position" href="#" ><img [src]=img id="logo"></a>
    <div class="two columns u-pull-right carrito-list">
      <ul>
        <li class="submenu">
            <a  href="#" role="button" aria-expanded="false" mat-icon-button color="accent" aria-label="Example icon button with a home icon">
              <mat-icon style="color: lightgrey;">shopping_cart</mat-icon>
            </a>
            <div id="carrito">
                    <table class="u-full-width">
                        <thead>
                            <tr>
                                <th>Imagen</th>
                                <th>Nombre</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let whis of getItems()" id="lista-carrito" >
                          <td>
                            <img [src]="whis.imagen" width="100">
                          </td>
                          <td>{{whis.titulo}}</td>
                          <td>{{whis.precio}}</td>
                          <td>{{whis.cantidad}}</td>
                          <td>
                              <a href="#" class="borrar-curso" (click)="delete(whis)"> X </a>
                          </td>
                        </tbody>
                    </table>

                    <a href="#" id="vaciar-carrito" (click)="clean()" class="button u-full-width">Vaciar Carrito</a>
                    <p id="precio-total" ><b>Total:</b> {{total}}€ </p>
            </div>
         </li>
      </ul>
    </div>
</div>
</nav>
