
    <div id="hero">
      <div class="container">
          <div class="row">
                  <div class="six columns">
                      <div class="contenido-hero">
                              <h2>{{ aprender }}</h2>
                              <p>{{ quote }}</p>
                              <form action="#" id="busqueda" method="post" class="formulario">
                                  <input class="u-full-width" type="text" [placeholder]=placeHolderValue id="buscador">
                                  <input type="submit" id="submit-buscador" class="submit-buscador">
                              </form>
                      </div>
                  </div>
          </div>
      </div>
  </div>
