<div class="barra">
  <div class="container">
      <div class="row">
              <div class="four columns icono icono1">
                  <p>{{ getCursos() }} Elementos de la  <br>
                  lista  de deseos online.</p>
              </div>
              <div class="four columns icono icono2">
                  <p>Nuevos deseos cada año.</p>
              </div>
              <div class="four columns icono icono3">
                  <p>Acceso de por vida. <br>
                  Cumplelos a tu ritmo.</p>
              </div>
      </div>
  </div>
</div>
