<footer class="footer bg-dark text-center">
  <div class="containter py-2 px-3">
    <div class="row">
      <div class="four columns" >
          <nav id="principal " class="menu">
              <a href="#">Para tu negocio</a>
              <a href="#">Conviertete en instructor</a>
              <a href="#">Aplicaciones móviles</a>
              <a href="#">Soporte</a>
              <a href="#">Temas</a>
          </nav>
      </div>
      <div class="four columns">
          <nav id="secundaria " class="menu">
              <a href="#">¿Quienes Somos?</a>
              <a href="#">Empleo</a>
              <a href="#">Blog</a>
          </nav>
      </div>
    </div>
  </div>
  <p class="text-white my-1">
    &copy; {{autor}}
  </p>
</footer>
