  <div class="four columns">
      <div class="card my-2 mx-1">
          <img src={{curso.imagen}} class="imagen-curso u-full-width">
          <div class="info-card">
              <h4>{{curso.titulo}}</h4>
              <p>{{curso.instructor}}</p>
              <img src={{curso.estrellas}}>
              <p class="precio">{{curso.precio}}  <span class="u-pull-right ">$15</span></p>
              <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="1">Agregar Al Carrito</a>
          </div>
      </div> <!--.card-->
  </div>
